body {
    font-family: 'Barlow', sans-serif;
    color: #533B4D;
}
header {
    width: 680px;
    text-align: center;
}

.outline {
    margin: 0 0 0 30px;
}

.hidden{
    display: none;
}

#my-canvas {
    border: 40px solid bisque;
    border-radius: 5px;
}

.utilities {
    border-radius: 5px;
    width: 680px;
    background-color: bisque;
    margin: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
}

.utilities .line{
    display: flex;
    flex-direction: row;
    margin: 6px;
}

.utilities .line div{
    width: 50px;
    height: 50px;
    border: 1px solid;
    margin: 10px;  
    justify-content: center;
    align-self: center;  
}

.utilities .line i{
    font-size: 40px;
    padding: 5px;
}

.utilities .line .mywidth{
    padding: 10px;
    text-align: center;
    height: auto;
}

.utilities p{
    padding-left: 20px ;
    flex-basis: 15%;
}


.utilities .color-picker {
    border-radius: 50%;
}

.black {
    background-color: black;
}

.brown {
    background-color: brown;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}


#square{
    background: white;
    /* box-shadow: 1em 1em 1em rgba(0, 0, 0, .1); */
    display: flex;
    flex-direction: column;
  }
  
  input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  
  *:focus{
    border-radius: 0;
    outline: none;
  }
  
  ::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  ::-webkit-color-swatch{
    border: 0;
    border-radius: 0;
  }
  
  ::-moz-color-swatch,
  ::-moz-focus-inner{
    border: 0;
  }
  
  ::-moz-focus-inner{
    padding: 0;
  } 

/* envoyer une e-card */
.envoi {
    margin-left: 30px;
}

form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(30px, auto);
}


